<div class="background">
    <app-header text="PROJECT"></app-header>

    <div class="container">
        <div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
            </div> -->
            <div class="project">
                <div class="col-md-4 col-sm-6 col-xs-12 project" *ngFor="let project of projectList">
                    <app-project-item [project]="project"></app-project-item>
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
            </div> -->
        </div>
    </div>
</div>
