div.background {
    position: fixed;
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(124,124,124,1) 0%, rgba(243,243,243,1) 50%);
}

div.wrapper {
    position: absolute;
    width: 100vw;
    top: 50%;
    margin-top: -25px;
    text-align: center;
}

div.introduction {
    font-size: 35px;
    font-weight: 200;
    display: inline-block;
}

p {
    height: 50px;
    margin: 0 0.3em 0 0;
    float: left;
}

b {
    height: 50px;
    line-height: 50px;
    text-align: left;
    float: left;
    overflow: hidden;
}

span.text-slider {
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: royalblue;
    animation: move 4s 1s infinite;
    -webkit-animation: move 4s 1s infinite;
}

@keyframes move {
    0%{top:0px;}
    25%{top:-50px;}
    50%{top:-100px;}
    75%{top:-150px;}
}
