div.background {
    width: 100vw;
    height: 100vh; 
    background-color: #7070701A;
}

div.wrapper {
    position: absolute;
    width: 100vw;
    top: 50%;
    margin-top: -25px;
    text-align: center;
}

div.introduction {
    font-size: 35px;
    display: inline-block;
}

span.text-slider {
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: royalblue;
    animation: move 7.5s 0.5s infinite;
    -webkit-animation: move 7.5s 0.5s infinite;
}

@media only screen and (max-width: 600px) {
    div.introduction {
      font-size: 30px;
    }
  }

@keyframes move {
    0%{top:0px;}
    20%{top:-50px;}
    40%{top:-100px;}
    60%{top:-150px;}
    80%{top:-200px;}
}

div.view-my-work {
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

div.view-my-work:hover {
    transition-duration: 0.2s;
    font-weight: 400;
}

div.view-my-work:hover > img {
    transition-duration: 0.2s;
    height: 35px;
} 

img {
    height: 30px;
    fill: royalblue;
}

p {
    height: 50px;
    margin: 0 0.3em 0 0;
    float: left;
}

b {
    height: 50px;
    line-height: 50px;
    text-align: left;
    float: left;
    overflow: hidden;
}

a {
    color: black;
}