div.background {
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(182,182,182,1) 100%);
    background-attachment: fixed;
}

div.wrapper {
    position: absolute;
    width: 100vw;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div.introduction {
    font-size: 35px;
    display: inline-block;
}

span.text-slider {
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: royalblue;
    animation: move 7.5s 1.5s infinite;
    -webkit-animation: move 7.5s 1.5s infinite;
}

@keyframes move {
    0%{top:0px;}
    20%{top:-50px;}
    40%{top:-100px;}
    60%{top:-150px;}
    80%{top:-200px;}
}

div.view-my-work {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

div.view-my-work:hover {
    transition-duration: 0.2s;
    font-weight: 400;
}

div.view-my-work:hover > img {
    transition-duration: 0.2s;
    height: 30px;
} 

img {
    height: 25px;
    fill: royalblue;
}

p {
    height: 50px;
    margin: 0 0.3em 0 0;
    float: left;
}

b {
    height: 50px;
    line-height: 50px;
    text-align: left;
    float: left;
    overflow: hidden;
}