<div class="background">
    <div class="wrapper">
        <div class="introduction">
            <p>Hi, I'm</p>
            <b>
                <span class="text-slider">
                    William Ryan Kusnadi. <br>
                    a CS student. <br>
                    a tech lover. <br>
                    a web developer. <br>
                    a UI/UX enthusiast.
                </span>
            </b>
        </div>
    </div>
    <div class="view-my-work" (click)="viewWork()">
        View my work <br>
        <img src="assets/arrow-down.svg">
    </div>
</div>