.row {
    text-align: center;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.bracket {
    font-size: 200px;
}

h4, p {
    color: #444649;
}

p {
    margin-bottom: 25px;
    font-size: 18px;
}

img {
    height: 100px;
    width: 100px;
}

ul {
    position: relative;
    width: 100%;
    margin: auto;
    bottom: -10%;
    padding: 0;
}

li {
    display:inline-block;
    margin: 10px 15px;
    font-size: 20px;
    font-weight: 400;
}