.row {
    text-align: center;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.bracket {
    font-size: 200px;
}


@media screen and (max-width: 600px) {
    .bracket {
      font-size: 150px;
    }
    
    li {
        font-size: 15px;
    }

  }

  @media screen and (min-width: 450px) {
    ul {
        bottom: -10%;
    }

  }

#right {
    padding-left: 0;
}

#left {
    padding-right: 0;
}

h4, p {
    color: #444649;
}

p {
    margin-bottom: 25px;
    font-size: 18px;
}

img {
    height: 100px;
    width: 100px;
}

ul {
    position: relative;
    width: 100%;
    margin: auto;
    /* bottom: -10%; */
    padding: 0;
}

li {
    display:inline-block;
    margin: 10px 15px;
    font-size: 20px;
    font-weight: 400;
}