<a href="{{project.projectLink}}" target="_blank">
    <div class="project" data-aos="fade-up" [attr.data-aos-delay]="[delay * 250]">
        <img src="assets/{{project.imgPath}}.PNG">
        <h3>{{ project.projectName }}</h3>
        <p>{{ project.projectDate }}</p>
        <hr>
        <p class="description">
            {{ project.projectDesc }}
        </p>
        <b>
            <p>
                <span *ngFor="let skill of project.projectSkills">{{ skill }}</span>
            </p> 
        </b>
    </div>   
</a>
