p.description {
    font-size: 18px;
}

.project {
    padding-bottom: 20px;
}

.project:hover > h3 {
    color: royalblue;
    transition-duration: 0.5s;
}

span {
    margin-right: 8px;
}

h3 {
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 150px;
    opacity: 0.9;
}

hr {
    width: 20%;
    border: 1px solid royalblue;
    background-color: royalblue;
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: #444649;
}

